<div ng-controller='ArticleEditCtrl'>
  <h3 class='heading'>Edit Article</h3>
  <form ng-submit="updateArticle()">
    <div class='form-group col-md-8'>
      <label>Article Title</label>
      <input type="text" name="title" ng-model="article.title" class="form-control" />
    </div>
    <div class='form-group col-md-4'>
      <label>Category</label>
      <select name="category" ng-model="article.category" class="form-control">
        <option ng-repeat="cat in categories" value="{{ cat.name }}">{{ cat.name }}</option>
      </select>
    </div>
    <div class='form-group'>
      <label>Content</label>
      <textarea name="body" ng-model="article.body" class="form-control" placeholder="What's on your mind?"></textarea>
    </div>
    <button type="submit" class='btn btn-default'>Edit Article</button>
    <a class='btn btn-danger' href='#/categories'>Nevermind</a>
  </form>
</div>