body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

footer {
  margin: 10px;
  background-color: #ccc;
  color: #fff;
  text-align: center;
}

a {
  color: #00B7FF;
}

.heading {
  background: #777;
  color: white;
  padding: 5px;
}

.article {
  border-bottom: 2px solid #999;
  padding-bottom: 10px;
}

.detail {
  margin-top: 10px;
}

.addArticle {
  margin: 20px;
}